<h1>Picture Details</h1>
<p></p>

<%= image_tag( @picture.source, :width => 200) %>
<ul>
  <li> <%= @picture.caption%> </li>
  <li> <%= link_to( "Edit", edit_picture_url(@picture.id) ) %></li>
  <li> <%= link_to( "Delete", picture_url(@picture.id), :method => "delete" ) %></li>
  <li> <%= link_to("All Pictures", pictures_url ) %> </li>
</ul>

